/* Enhanced circuit lines definition */

/* Horizontal circuit lines - enhanced and expanded */
.h-line1 {
  top: 15%;
  left: -5%;
  width: 40%;
  height: 1px;
  animation-delay: 0s;
  transform: translateX(0);
  animation: pulse 4s infinite alternate, slideRight 15s infinite;
}

.h-line2 {
  top: 70%;
  left: 20%;
  width: 60%;
  height: 2px;
  animation-delay: 1s;
  transform: translateX(0);
  animation: pulse 4s infinite alternate, slideLeft 20s infinite;
}

.h-line3 {
  top: 40%;
  right: -5%;
  width: 35%;
  height: 1px;
  animation-delay: 2s;
  transform: translateX(0);
  animation: pulse 4s infinite alternate, slideLeft 12s infinite;
}

.h-line4 {
  top: 25%;
  left: 30%;
  width: 50%;
  height: 1px;
  animation-delay: 3s;
  transform: translateX(0);
  animation: pulse 4s infinite alternate, slideRight 18s infinite;
}

.h-line5 {
  top: 85%;
  right: 10%;
  width: 45%;
  height: 1px;
  animation-delay: 2.5s;
  transform: translateX(0);
  animation: pulse 4s infinite alternate, slideLeft 16s infinite;
}

/* Vertical circuit lines - enhanced and expanded */
.v-line1 {
  top: -5%;
  left: 20%;
  width: 1px;
  height: 35%;
  animation-delay: 0.5s;
  transform: translateY(0);
  animation: pulse 4s infinite alternate, slideDown 18s infinite;
}

.v-line2 {
  top: 60%;
  left: 80%;
  width: 2px;
  height: 45%;
  animation-delay: 1.5s;
  transform: translateY(0);
  animation: pulse 4s infinite alternate, slideUp 15s infinite;
}

.v-line3 {
  top: 10%;
  right: 30%;
  width: 1px;
  height: 40%;
  animation-delay: 2.5s;
  transform: translateY(0);
  animation: pulse 4s infinite alternate, slideDown 12s infinite;
}

.v-line4 {
  top: 30%;
  left: 45%;
  width: 1px;
  height: 70%;
  animation-delay: 1s;
  transform: translateY(0);
  animation: pulse 4s infinite alternate, slideDown 20s infinite;
}

.v-line5 {
  top: 50%;
  right: 15%;
  width: 1px;
  height: 50%;
  animation-delay: 3.5s;
  transform: translateY(0);
  animation: pulse 4s infinite alternate, slideUp 17s infinite;
}
